.container
  footer.py-3.my-4
    ul.nav.justify-content-center.border-bottom.pb-3.mb-3
      li.nav-item
        a.nav-link.px-2.text-body-secondary(href='/') Home
      li.nav-item
        a.nav-link.px-2.text-body-secondary(href='/about') About
    p.text-center.text-body-secondary &copy; #{new Date().getFullYear()} with.drawal.info
