extends layout

block content
  .container
    .card.mt-4
      .card-header
        h2 About Stake Monitor
      .card-body
        p This site lets you see validator withdrawals expressed in USD as of the date of withdrawal.
      .card-footer
        p.text-end Footer info here.
