doctype html
html(lang='en', data-bs-theme='dark')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Stake Monitor

    link(href='/css/lib/bootstrap.min.css', rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
    block stylesheets

    script(src='/js/lib/bootstrap.bundle.min.js')
    script(src='/js/lib/jquery.min.js')
    block javascripts

  body
    if !session || !session.user
      include includes/auth
    include includes/navbar

    block content

    include includes/footer
